<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">MySite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Samples1
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/sales">sales</a>
                        <a class="dropdown-item" href="/sales2">sales2</a>
                        <a class="dropdown-item" href="/try-querystring?a=10&b=abc">try-querystring</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/try-post-form">try-post-form</a>
                        <a class="dropdown-item" href="/try-upload">try-upload</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sales3">業務員列表</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {{#if loginUser}}
                    <li class="nav-item">
                        <a class="nav-link">{{loginUser}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">登出</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>