{{#if flashMsg}}
    <div class="alert alert-{{flashMsg.type}}">{{flashMsg.msg}}</div>
{{/if}}

{{#if loginUser}}
    <h2>Hello {{loginUser}}</h2>
{{else}}
<form method="post">
    <div class="form-group">
        <label for="user">user</label>
        <input type="text" class="form-control" id="user" name="user">

    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{/if}}