{{#if msg}}
    <div class="alert alert-{{msg.type}}">{{msg.info}}</div>
{{/if}}

<form method="post">
    <div class="form-group">
        <label for="sales_id">員工編號</label>
        <input type="text" class="form-control"
               value="{{addForm.sales_id}}"
               id="sales_id" name="sales_id">
    </div>
    <div class="form-group">
        <label for="name">姓名</label>
        <input type="text" class="form-control"
               value="{{addForm.name}}"
               id="name" name="name">
    </div>
    <div class="form-group">
        <label for="birthday">生日</label>
        <input type="text" class="form-control"
               value="{{addForm.birthday}}"
               id="birthday" name="birthday">
    </div>
    <button type="submit" class="btn btn-primary">新增</button>
</form>
